.stock{
    background-color: rgb(31, 163, 157);
    width: 85vw;
    padding:2.5%;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(95, 95, 95), rgba(0, 0, 0, 0)) 1 100%;
}

.axis {
    font: 8px sans-serif;
}
.tick line{
        stroke: rgba(12, 75, 126, 0.39);
        stroke-width: 1px
}
.line {
    fill: none;
    stroke: rgb(12, 75, 126);
    stroke-width: 2px;
    z-index: 2;
}
.MA{
    fill: none;
    stroke: rgba(40, 126, 196, 0.521);
    stroke-width: 1px;
    z-index: 2;
}
.bolDown .bolUp{
    fill: none;
    stroke: rgba(40, 126, 196, 0.301);
    stroke-width: 1px;
    z-index: 2;
}
.volume{
    fill: rgb(180, 154, 70);
    stroke: rgb(180, 154, 70);
    stroke-width: 1px;
}
.chart{
        background-color: rgb(36, 14, 117);
        padding: 10px;

}

.chart .menu{
    padding: 5px;
    background-color: whitesmoke;
}
.top .clickable{
    padding: 5px;
    background-color: white;
}
.chartD3{
    background-color: white;
border-width: 3px;
border-style: solid;
border-image: linear-gradient(to top, rgb(95, 95, 95), rgba(0, 0, 0, 0)) 1 100%;
}
.dot{
        fill: none;
        stroke: #ffbb00;
        stroke-width: 2px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}

.x text{
    transform: rotate(6deg);
}

.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(111, 127, 148, 0.301);
    border: 1px rgba(128, 128, 128, 0.582);
    pointer-events: none;
    transition: .2s opacity;
    font-size: 14px;
    font-weight: 600;
    z-index: 10;
}