.stocks{
    background-color: rgb(173, 230, 178);
    width: 85vw;
}

.axis {
    font: 14px sans-serif;
}
.line {
    fill: none;
    stroke: rgb(12, 75, 126);
    stroke-width: 2px;
}
.volume{
    fill: rgb(180, 154, 70);
    stroke: rgb(180, 154, 70);
    stroke-width: 1px;
}
.chartD3{
}
.dot{
        fill: none;
        stroke: #ffbb00;
        stroke-width: 2px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}