.entry{
    
    background-color: rgb(148, 99, 8);
    padding:2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.lists{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 5%;
    background-color: rgb(241, 255, 160);
    border-radius: 5px;
    border:1px solid grey;
    width: 100%;
    
}
.lists h1{
    text-align: center;
    font-size: 25px;
}
.lists *{
    padding: .5%;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    width: fit-content;
}
.spliter {
    display: flex;
    flex-direction: row;
}
.sidebar{
    width:20%;
}
.not-sidebar {
    width: 80%;
}
@media (max-width: 360px) {

}

@media (max-width: 720px) {
    .spliter {
        flex-direction: column-reverse;
    }
}