.entry{
    
    background-color: rgb(31, 82, 35);
    padding:2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.gridParent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.lists{
    
    border-radius: 5px;
    align-items: center;
    padding: 5%;
    background-color: rgb(255, 245, 160);
    border-radius: 5px;
    border:1px solid grey;
    width: 100%;
    
}
.lists h1{
    text-align: center;
    font-size: 25px;
}
.lists *{
    padding: 1%;
    width: 100%;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    width: fit-content;
}
.spliter {
    display: flex;
    flex-direction: row;
}
.sidebar{
    width:20%;
    max-width: fit-content;

}
.not-sidebar {
    width: 80%;
    display: block;
}

@media (max-width: 1000px) {
    .spliter {
        flex-direction: column-reverse;
    }
    .sidebar{
        top:0;
        left: 0;
        height: 15vh;
        width: 100vw;
        font-size: 1.3vh;
        min-width: 100vw;
        min-height: fit-content;
        flex-direction: row;
        border-bottom: 2px solid black;
        border-left: 0px solid beige;
        box-shadow: 2px 2px 2px 1px rgba(19, 19, 19, 0.2);
    }
    .sidebar *{
        flex-direction: row;

    }
    .not-sidebar{
        position: relative;
        top: 15vh;
        width: 100%;
    }
    table {
        font-size: 1.3vw;
    }
    .logo{
        height: 100%;
        margin: 0;
    }
    .logo img{
        height: 100%;
        width: auto;
    }
    .buttons{
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .sidebar{
        font-size: 1.1vh;

    }
    .buttons li{
        border-right: 1px solid grey;

    }
    .buttons li:hover{
        border-top: 5px solid black

    }
    .logo {
        display: none;
    }
}

@media (max-width: 450px) {
    .buttons {
        flex-direction: column;
    }
}