.sidebarHolder{
    position: relative;
    height: 100vh;
}

.sidebar{
    position: fixed;
    background-color: rgb(255, 245, 160);
    height: 100vh;
    border-left: 1px solid grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    right: 0;
    box-shadow: -10px 0px 10px rgba(19, 19, 19, 0.2);
    font-size: 1.2vw;
}
.logo {
    margin-bottom: 10%;
    max-width: fit-content;
    border-bottom: 2px solid grey;
}
.logo img {
    width: 100%;
}
.sidebar li{
    margin: 2.5%;
}
.sidebar input{
    text-align: left;
    padding-left: 5%;
    padding: 2px;
    border-bottom: 1px solid grey;
    transition: 1s all;
    height: 25px;
}
.user-bar h1{
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 100%;
}
.buttons li{
    background-color: white;
    padding: 5%;
    box-sizing: border-box;
    font-weight: 500;
    transition: all .3s;
    border-bottom: 1px solid grey;
    width: 100%;
    height: fit-content;

}
.buttons li:hover{
    border-right: 3px solid black;
    font-weight: 900;
}
.inputForm {
    display: flex;
    flex-direction: row;
    text-align: left;
}
input {
    background-color: white;
}
.submitButton{
    border-right: 1px solid grey;
}
.userInfo{
    font-size: 20px;
}
.tab{
    font-weight: 400;
    height:60px;
    transition: 1s all;
}

.display-off,
.display-off input {
    height: 0px;
    /* padding: 0px; */
    /* margin: 0px; */
    overflow: hidden;
}

.display-on {
    opacity: 1;
}