.not-sidebar {
    position: relative;
    top: 15vh;
}

.sidebar{
    top: 0;
    left: 0;
    height: 15vh;
    min-width: 100vw;
    min-height: fit-content;
    flex-direction: column;
    border-bottom: 1px solid rgb(56, 56, 56);
    box-shadow: 2px 2px 2px 1px rgba(19, 19, 19, 0.2);
    
    position: fixed;
    
    align-items: center;
    display: flex;
    font-size: 19px;
    z-index: 2;
    box-sizing: border-box;
}
.sidebar-top{
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 75%;
    display: flex;
    border-bottom: 1px solid grey;
    width: 100%;
    
    background-color: rgb(222, 212, 129);


}
.sidebar-top > div{
    margin-left: 15px;
}
.sidebar-top h1{
    font-size: 6vh;
    color: rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-bottom{
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 25%;
    display: flex;
    width: 100%;
    background-color: rgb(224, 230, 170);

}
.logo {
    height: 100%;
    margin: 0;
    border-bottom: none;
    margin-left: 2%;    
    max-width: fit-content;
}
.logo img {
    height: 100%;
    width: auto;
}

.sidebar input{
    text-align: left;
    padding-left: 5%;
    padding: 2px;
    border-bottom: 1px solid grey;
    transition: 1s all;
    height: 25px;
    width: 100%;
}
.sidebar input.submitButton{
    width: 33%;
}
.buttons{
    display: inline-flex;
    flex-direction: column;
    margin-right: 5%;
    height: 100%;
    box-sizing: border-box;
    width: 30%;

}
.buttons li{
    background-color: rgb(189, 202, 136);
    box-sizing: border-box;
    font-weight: 500;
    width: 100%;
    text-align: center;
    height: 100%;
    display: block;
    border: 1px solid rgba(194, 194, 194, 0.76);
    transition: background-color .8s, border-color .8s, border-width .8s, font-weight .8s, height .8s, color .8s;
    border-bottom: none;
    position: relative;

}
.buttons li:hover{
    border-top: 5px solid rgb(253, 255, 221);
    background-color: rgb(224, 230, 170);
    font-weight: 900;
}
.inputForm {
    display: flex;
    flex-direction: row;
    text-align: left;
}
input {
    background-color: white;
    padding: 5%;

}
.submitButton{
    border-right: 1px solid grey;
    width: 33%;
    line-height: 2px;
}
.userInfo{
    font-size: 20px;
}
.tab {
    font-weight: 400;
    height: 100%;
    background-color: rgb(246, 255, 209);
    z-index: 1;
    width: 100%;
}

.userbar{
    z-index: -1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
    width: 100%;
    bottom: 1px;
}

.credForm{
    width: 100%;
    box-sizing: border-box;
    padding: 3%;
}


