.sidebarHolder{
    position: relative;
    height: 100vh;
}

.sidebar{
    position: fixed;
    background-color: rgb(190, 197, 135);
    height: 100vh;
    border-left: 1px solid grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    right: 0;
    box-shadow: -10px 0px 10px rgba(19, 19, 19, 0.2);
    font-size: 1.2vw;
}
.logo {
    padding: 5%;
    margin-bottom: 10%;
    max-width: fit-content;
    border-bottom: 2px solid grey;
}
.logo img {
    width: 100%;
}
.sidebar li{
    margin: 2.5%;
}
.sidebar input{
    text-align: left;
    padding-left: 5%;
    padding: 2px;
    border-bottom: 1px solid grey;
    transition: 1s all;
    height: 25px;
}

.buttons{
    display: inline-flex;
    flex-direction: column;
    margin-right: 5%;
    height: 100%;
    box-sizing: border-box;
}
.buttons li{
    background-color: rgb(115, 183, 115);
    padding: 9%;
    box-sizing: border-box;
    font-weight: 500;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    height: fit-content;
    display: block;

    flex-shrink:2;

    transition: margin 1s;
    transition: padding 1s;
    transition: border-right 1s;
    transition: font-weigh 1s;

}
.buttons li:hover{
    background-color: rgb(128, 233, 128);
    border-right: 5px solid rgba(247, 255, 128, 0.76);
    font-weight: 900;
}
.inputForm {
    display: flex;
    flex-direction: row;
    text-align: left;
}
input {
    background-color: white;
    padding: 5%;
    transition: all 1s;
}
.submitButton{
    border-right: 1px solid grey;
}
.userInfo{
    font-size: 20px;
}
.tab {
    height: 30px;
    font-weight: 400;
    transition: 1s all;
}
.display-off input,
.display-off section{
    height: 0px;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.display-off{
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0px;
    overflow: hidden;
}

.display-on {
    opacity: 1;
}
.credForm{
    transition: 1s all;
    height : 20px;
}

@media (max-width: 1000px) {
    .sidebar {
        top: 0;
        left: 0;
        height: 15vh;
        min-width: 100vw;
        font-size: 1.3vh;
        min-height: fit-content;
        flex-direction: row;
        border-bottom: 2px solid black;
        border-left: 0px solid beige;
        box-shadow: 2px 2px 2px 1px rgba(19, 19, 19, 0.2);
    }
    .logo {
        height: 100%;
        margin: 0;
        border-bottom: none;
        padding: 2%;
    }
    .logo img {
        height: 100%;
        width: auto;
    }
    .buttons {}
    .buttons li {
        border-right: none;
        border-top: 1px solid rgba(194, 194, 194, 0.76);
    }
    .buttons li:hover {
        border-right: none;
        border-top: 5px solid rgba(247, 255, 128, 0.76);
    }
}

@media (max-width: 600px) {
    .sidebar {
        font-size: 1.1vh;
    }

}

@media (max-width: 450px) {
    .buttons {
        flex-direction: column;
    }
}