.table{
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: repeat(auto-fill,20%);
    width:100%;
    font-size: 1.5vw;

}
.item{
    display: flex;
    /* flex-direction: column;
     */
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
}
.item > *{
    padding: 2px;
    word-break: break-word;
}
.stock-details{
    align-items: center;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.stock-details label{
    font-size: 25px;
    padding: 2%;
}